
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9;
    text-align: left;
}

header {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: rgb(211, 233, 242);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, legend {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

fieldset {
    border: none;
    margin-top: 10px;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}

footer {
    background: #222;
    color: white;
    padding: 1rem;
    text-align: center;
}

