:root {
    --primary-color: red;
    --secondary-color: white;
    --text-color: #264653;
    --background-color:white;
    --heading-font: 'Merriweather', serif;
    --body-font: 'Boldonse', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: yellow;
    text-align: center;
    padding: 1rem;
}
    
.logo {
    width: 80px;
    height: auto;
}

.hero{
    grid-column: 1/3;
    grid-row: 1/3;

}

.hero img {
    width: 100%;
    height: auto;
}

.weather{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgba(225, 225, 225, 0.9);
    width: 300px;
    margin-left: 750px;
    margin-bottom: 50px;
    padding: 1rem;
    border-radius: 10px
}

.weather h2{
    background-color: aquamarine;
    width: 75%;
    padding: 1rem;
    margin-left: -25px;
}


.info{
    grid-column: 1/2;
    grid-row: 1/2;
    background: rgba(225, 225, 225, 0.9);
    width: 300px;
    margin-left: 20px;
    margin-top: 50px;
    padding: 1rem;
    border-radius: 10px
}

.info h2{
    background-color: aquamarine;
    width: 75%;
    padding: 1rem;
    margin-left: -25px;
}

/* .weather::after {
    content: " ☀️";
    font-size: 1.5rem;
} */

@media (max-width: 600px) {
    body {
        background-color: var(--secondary-color);
    }
}

footer {
    background: #264653;
    color: white;
    padding: 1rem;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 2rem;
}

